.details
  padding 24px 0

  &__item
    padding 10px 0

  &__icon
    margin-right 5px
    width 1em
    height 1em
    font-size 18px
    vertical-align middle
    fill #5f657b

  &__desc
    font-size .9em
