.follow
  display flex
  justify-content space-around
  padding 24px 0
  background-color #f1f5f8

  &__item
    text-align center
    font-size .9em
    color #0b0f1a

    &--value
      display block
      margin-bottom 3px
      font-size 1.6em
      font-weight 700
