.note
  position relative
  margin-bottom 16px
  padding 16px
  color #0b0f1a
  border 1px solid #c0d3eb
  border-radius 3px

  &__remove
    position absolute
    top 50%
    right 15px
    transform translateY(-50%)
    font-size .8em
    font-weight 700
    color #e74c3c
