.search
  position relative
  height 80px
  border-bottom 1px solid #d6d9dc

  &__input
    border 0
    padding 8px 12px
    width 100%
    font-size 1em
    font-weight 300
    position absolute
    top 50%
    transform translateY(-50%)
    outline 0
    appearance none

  &__button
    position absolute
    top 50%
    right 25px
    width 1em
    height 1em
    font-size 24px
    transform translateY(-50%)
