.search
  position fixed
  top 0
  height 80px
  width 100%
  background-color #fff
  border-bottom 1px solid #d6d9dc
  box-shadow 0px 8px 15px rgba(75, 72, 72, 0)
  transition box-shadow .4s ease

  &--shadow
    box-shadow 0px 8px 15px rgba(75, 72, 72, .1)

  &__input
    border 0
    padding 8px 12px
    width 100%
    font-size 1em
    font-weight 300
    position absolute
    top 50%
    transform translateY(-50%)
    outline 0
    appearance none

  &__button
    position absolute
    top 50%
    right 25px
    border 0
    background none
    outline 0
    transform translateY(-50%)
    appearance none

    svg
      width 1em
      height 1em
      font-size 22px
