input_padding = 14px
icon_size = 20px

.search
  position fixed
  top 0
  height 80px
  width 100%
  background-color #fff
  border-bottom 1px solid #d6d9dc
  box-shadow 0px 8px 15px rgba(75, 72, 72, 0)
  transition box-shadow .2s ease
  z-index 1

  &--shadow
    box-shadow 0px 8px 15px rgba(75, 72, 72, .1)

  &__input
    border 0
    padding 18px input_padding
    padding-left input_padding*2 + icon_size
    width 100%
    font-size 1em
    font-weight 300
    position absolute
    top 50%
    transform translateY(-50%)
    outline 0
    appearance none

  &__icon
    position absolute
    top 50%
    left input_padding
    width 1em
    height 1em
    fill #5f657b
    font-size icon_size
    transform translateY(-50%)
