@import "generic/reset"

@import "base/body"
@import "base/img"
@import "base/ul"
@import "base/a"
@import "base/input"

@import "objects/container"
@import "objects/title"
@import "objects/button"

@import "components/search"
@import "components/profile"
@import "components/follow"
@import "components/details"
@import "components/repositories"
@import "components/repository"
@import "components/notes"
@import "components/submit"
@import "components/note"
@import "components/footer"
@import "components/tabs"
